@charset "UTF-8";
a,
em,
p,
span {
  user-select: none;
}

.BayWindow {
  display: none;
}

#content a,
#content button {
  cursor: pointer;
}
#content .lj {
  width: 1200px;
  margin: 0 auto;
  color: #000;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
#content .lj a {
  color: #000;
}
#content .lj a:hover {
  color: #a10000;
}
#content .lj b {
  font-size: 12px;
  font-weight: normal;
}
#content .lj span {
  margin: 0 10px;
}
#content .title {
  width: 1200px;
  margin: 0 auto;
  height: 45px;
  border-bottom: 1px solid #e5e6e6;
  font-size: 12px;
}
#content .title .goodsName {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
}
#content .title .btn {
  float: right;
  height: 45px;
}
#content .title .btn a {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  line-height: 45px;
  font-size: 14px;
  margin: 0 10px;
  color: #808080;
}
#content .title .btn .car {
  color: #ffffff;
  width: 168px;
  margin-right: 10px;
  height: 33px;
  background: url(../data/img/spritesbg1.png) no-repeat scroll -147px -285px;
  position: relative;
  top: 5px;
}
#content .st {
  background-color: #fff;
  width: 100%;
  display: none;
  overflow: hidden;
}
#content .center {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px solid #B4B4B4;
}
#content .center .box {
  float: left;
  margin-right: 70px;
  flex-direction: column;
  position: relative;
}
#content .center .box .show {
  float: left;
  width: 420px;
  height: 420px;
  border: 1px solid #333;
  position: relative;
  text-align: center;
}
#content .center .box .show img {
  width: 100%;
  height: 100%;
}
#content .center .box .show .mask {
  width: 200px;
  height: 200px;
  background-color: yellow;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#content .center .box .list {
  width: 100px;
  float: left;
  text-align: center;
  padding: 20px;
}
#content .center .box .list p {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  margin-bottom: 10px;
  text-align: center;
}
#content .center .box .list p img {
  width: 100%;
  height: 100%;
}
#content .center .box .list p.active {
  border-color: red;
}
#content .center .box .enlarge {
  /* 容器 与背景图的比例为 1 ：2 */
  width: 500px;
  height: 500px;
  z-index: 1000;
  position: absolute;
  top: -25px;
  left: 550px;
  background-size: 750px 1000px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  display: none;
}
#content .center .nr {
  float: left;
  font-size: 12px;
}
#content .center .nr .tehuiMoney {
  margin-bottom: 10px;
  line-height: 26px;
  display: block;
  color: #A10000;
  font-size: 12px;
}
#content .center .nr .tehuiMoney strong {
  font-size: 24px;
}
#content .center .nr .tehuiMoney .afterChargePrice {
  line-height: 26px;
  color: #A10000;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 10px;
}
#content .center .nr #czwenan {
  display: inline-block;
  line-height: 10px;
  color: #fff;
  background: #b81c22;
  padding: 5px;
  margin-bottom: 10px;
}
#content .center .nr .danpinColorSelect {
  color: #666666;
}
#content .center .nr .danpinColorSelect .danpinColorTitle {
  line-height: 18px;
  float: left;
}
#content .center .nr .danpinColorSelect .selColor {
  width: 525px;
  float: left;
}
#content .center .nr .danpinColorSelect .selColor li {
  cursor: pointer;
  border: 1px solid #B4B4B4;
  float: left;
  height: 40px;
  margin: 0px 8px 8px 0px;
  width: 95px;
  position: relative;
}
#content .center .nr .danpinColorSelect .selColor li .colorBlock {
  height: 38px;
  margin: 1px auto 0;
  width: 93px;
}
#content .center .nr .danpinColorSelect .selColor li .colorBlock p {
  padding-left: 45px;
}
#content .center .nr .danpinColorSelect .selColor li .colorBlock .SpriteColors {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  background: url(../data/img/img1.jpg) no-repeat;
  background-size: 100% 100%;
}
#content .center .nr .danpinColorSelect .selColor li .colorHoverok {
  display: none;
  width: 14px;
  height: 13px;
  background: url(../data/img/sprite0725.png) no-repeat scroll;
  background-position: -1151px 0;
  position: absolute;
  right: 1px;
  bottom: 1px;
}
#content .center .nr .danpinColorSelect .selColor li:hover {
  border: 1px solid #a10000;
}
#content .center .nr .danpinColorSelect .selColor .isSelect {
  border: 2px solid #a10000;
}
#content .center .nr .danpinColorSelect .selColor .isSelect .colorHoverok {
  display: block;
}
#content .center .nr .size {
  margin-bottom: 15px;
  margin-top: 12px;
}
#content .center .nr .size .selSizeArea {
  font-size: 12px;
}
#content .center .nr .size .selSizeArea .danpinColorTitle {
  float: left;
  color: #666666;
  line-height: 22px;
  padding-bottom: 10px;
}
#content .center .nr .size .selSizeArea .selSize {
  width: 335px;
  float: left;
}
#content .center .nr .size .selSizeArea .selSize li {
  float: left;
  background: #FFFFFF;
  border: 1px solid #C8C8C8;
  color: #333333;
  cursor: pointer;
  line-height: 22px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}
#content .center .nr .size .selSizeArea .selSize li p {
  height: 22px;
  background: #fff;
  padding: 0 9px;
}
#content .center .nr .size .selSizeArea .selSize li span {
  display: none;
  width: 14px;
  height: 13px;
  background: url(../data/img/sprite0725.png) no-repeat scroll;
  background-position: -1151px 0;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
#content .center .nr .size .selSizeArea .selSize li:hover {
  border: 1px solid #a10000;
}
#content .center .nr .size .selSizeArea .selSize .active {
  border: 2px solid #a10000;
}
#content .center .nr .size .selSizeArea .selSize .active span {
  display: block;
}
#content .center .nr .size .danpin_xuanzeGMm {
  display: none;
  border: 1px solid #CC9998;
  width: 170px;
  height: 20px;
  margin-left: 36px;
  line-height: 19px;
  text-align: center;
  color: #999999;
  clear: both;
  margin-bottom: 5px;
  color: #a10000;
}
#content .center .nr .size .danpin_xuanzeGMm span {
  height: 16px;
  display: block;
  width: 16px;
  background-image: url(../data/img/sprite0725.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -1911px 0pt;
  margin: 2px;
  float: left;
}
#content .center .nr .size .danpin_xuanzeGMm .seleSize {
  display: block;
}
#content .center .nr .size .seleSize {
  display: block;
}
#content .center .nr .goodsNum {
  margin-bottom: 15px;
}
#content .center .nr .goodsNum .danpinColorTitle {
  float: left;
  color: #666666;
  line-height: 18px;
  padding-bottom: 10px;
}
#content .center .nr .goodsNum .danpinnumSelect {
  float: left;
}
#content .center .nr .goodsNum .danpinnumSelect select {
  height: 20px;
  line-height: 20px;
  width: 53px;
}
#content .center .nr .goodsNum .danpinnumSelect .LastNum {
  color: #a10000;
  margin-left: 10px;
  display: none;
}
#content .center .nr .AreaItotal {
  padding-bottom: 15px;
  font-size: 12px;
}
#content .center .nr .AreaItotal .danpinColorTitle {
  float: left;
  color: #666666;
  line-height: 22px;
  padding-bottom: 10px;
}
#content .center .nr .AreaItotal .goodsAdd {
  height: 22px;
  float: left;
}
#content .center .nr .AreaItotal .goodsAdd p {
  float: left;
  display: block;
  height: 22px;
  line-height: 22px;
  color: #666666;
  font-weight: bold;
  padding-right: 10px;
}
#content .center .nr .AreaItotal .goodsAdd .NowHasGoods {
  color: #a10000;
  margin-left: 15px;
}
#content .center .nr .shoppingNews {
  margin-bottom: 15px;
}
#content .center .nr .shoppingNews #nowbuy {
  background: #F7ABAF;
  width: 166px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 13px;
  color: #a10000;
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  border: solid 1px #b71b21;
}
#content .center .nr .shoppingNews #addCar {
  width: 168px;
  height: 33px;
  background: url(../data/img/spritesbg1.png) no-repeat scroll -147px -285px;
  display: block;
  float: left;
}
#content .center .nr #promotion {
  height: auto;
  width: 400px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #A20000;
}
#content .center .nr #promotion h4 {
  height: 4px;
  line-height: 14px;
  margin-bottom: 6px;
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid #a20000;
}
#content .center .nr #promotion h4 span {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  left: 167px;
  top: -4px;
  padding: 0 8px;
}
#content .center .nr #promotion ul li {
  padding-left: 15px;
  line-height: 24px;
  color: #666666;
  background: none;
  padding: 0;
}
#content .center .nr #promotion ul li span,
#content .center .nr #promotion ul li a {
  display: block;
  float: left;
  height: 16px;
  background: #b81c22;
  margin: 4px 5px 0 0;
  color: #fff;
  line-height: 16px;
  text-align: center;
  padding: 0 5px;
}
#content .center .nr #promotion ul li a {
  margin-right: 0;
  margin-left: 0;
}
#content .center .nr #promotion ul li em:nth-of-type(1),
#content .center .nr #promotion ul li em:nth-of-type(3) {
  margin: 4px 0 0 0px;
  display: block;
  width: 12px;
  height: 16px;
  float: left;
  background: url(../data/img/qleft.png) no-repeat left;
}
#content .center .nr #promotion ul li em:nth-of-type(2),
#content .center .nr #promotion ul li em:nth-of-type(4) {
  margin: 4px 0 0 0;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  background: url(../data/img/qright.png) no-repeat left;
}
#content .center .drawerWrapper {
  position: fixed;
  right: -264px;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 9999;
}
#content .center .drawerWrapper .drawerTabs {
  position: absolute;
  width: 35px;
  left: -99px;
  top: calc(50% - 35px);
  height: 35px;
  border-radius: 3px 0 0 3px;
  background: #7a6e6e;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
}
#content .center .drawerWrapper .drawerTabs img {
  width: 18px;
}
#content .center .drawerWrapper .drawerTabs:hover {
  background-color: #b81c22;
}
#content .center .drawerWrapper .drawerPanel {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 6px solid #7a6e6e;
  width: 270px;
  height: 100%;
  background: #eceaea;
}
#content .center .drawerWrapper .drawerPanel .panelHead {
  color: #5e5050;
  height: 40px;
  line-height: 40px;
  font: 16px/40px "微软雅黑";
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content .center .drawerWrapper .drawerPanel .panelHead img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: transform 0.2s ease-out 0s;
  cursor: pointer;
}
#content .center .drawerWrapper .drawerPanel .panelHead img:hover {
  transform: rotate(180deg);
}
#content .center .drawerWrapper .drawerPanel .couponList {
  padding: 0 10px;
  width: 100%;
  font-size: 12px;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon {
  height: 103px;
  background: #fff;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon .action {
  display: block;
  height: 103px;
  text-align: center;
  padding: 20px 5px;
  width: 32px;
  background: #A10000;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon .amount {
  color: #A10000;
  margin-bottom: 10px;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon .amount .val {
  font-size: 28px;
  font-weight: 700;
  margin: -5px 10 0 5px;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon .desc {
  font-size: 12px;
  color: #777777;
  margin-bottom: 5px;
}
#content .center .drawerWrapper .drawerPanel .couponList .coupon .limit {
  color: #999;
  font-size: 12px;
}

#detail {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}