a,
em,
p,
span {
  user-select: none;
}

a,
button {
  cursor: pointer;
}

#top {
  width: 100%;
  height: 32px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #808080;
}
#top #headTopArea {
  width: 1200px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 12px;
}
#top #headTopArea .headerTopRight {
  float: right;
  line-height: 32px;
}
#top #headTopArea .headerTopRight #vanclCustomer {
  float: left;
  margin: 0 10px;
}
#top #headTopArea .headerTopRight #vanclCustomer .mapDropTitle {
  display: block;
  background: url(../data/img/notice.png) no-repeat 0px 5px;
  padding-left: 26px;
  text-align: left;
}
#top #headTopArea .headerTopRight #vanclCustomer .mapDropTitle:hover {
  color: #a10000;
}
#top #headTopArea .headerTopRight .payattention {
  height: 32px;
  float: right;
  margin: 5px;
}
#top #headTopArea .headerTopRight .payattention .vweixinbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
}
#top #headTopArea .headerTopRight .payattention .vweixinbox span {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../data/img/w1.jpg) no-repeat left 3px;
}
#top #headTopArea .headerTopRight .payattention .vweixinbox .vweixinTip {
  position: absolute;
  width: 148px;
  height: 169px;
  right: 0px;
  top: 30px;
  border: 1px solid #e5e5e5;
  background: url(../data/img/weixin.png) no-repeat;
  overflow: hidden;
  display: none;
  cursor: pointer;
  z-index: 10000;
}
#top #headTopArea .headerTopRight .payattention .vweixinbox:hover .vweixinTip {
  display: block;
}
#top #headTopArea .headerTopRight .payattention .vanclweibo {
  display: inline-block;
  width: 20px;
  height: 25px;
  background: url(../data/img/w2.jpg) no-repeat left 3px;
}
#top #headTopArea .headerTopLeft {
  float: right;
}
#top #headTopArea .headerTopLeft b {
  font-weight: normal;
  color: #000;
}
#top #headTopArea .headerTopLeft a {
  margin: 0 5px;
  font-weight: normal;
}
#top #headTopArea .headerTopLeft .order:hover {
  color: #a10000;
}

#logoArea {
  width: 1200px;
  margin: 20px auto;
}
#logoArea #shopCar {
  float: right;
  border: 1px solid #c1383e;
  position: relative;
}
#logoArea #shopCar .carLogo {
  width: 105px;
  height: 27px;
  background: url(../data/img/spritesbg1.png) no-repeat scroll -154px 0px;
  z-index: 10;
  padding-left: 30px;
}
#logoArea #shopCar .carLogo a {
  line-height: 27px;
  font-size: 12px;
  color: #fff;
}
#logoArea #shopCar:hover {
  cursor: pointer;
}
#logoArea #shopCar:hover .carLogo {
  background: url(../data/img/spritesbg1.png) no-repeat scroll -154px -30px;
  z-index: 1000;
}
#logoArea #shopCar:hover .carLogo a {
  color: #c1383e;
}
#logoArea #shopCar:hover b {
  width: 104px;
  height: 1px;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  right: 0px;
  top: 27px;
}
#logoArea #shopCar:hover .shopDropList {
  display: block;
}
#logoArea #shopCar .shopDropList {
  font-size: 12px;
  color: #c9caca;
  padding: 15px;
  position: absolute;
  right: -1px;
  width: 315px;
  background-color: #fff;
  border: 1px solid #c1383e;
  display: none;
  z-index: 15;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg {
  width: 100%;
  border-bottom: 1px solid #808080;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg img {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg div {
  float: left;
  margin-bottom: 10px;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg div a {
  display: block;
  width: 180px;
  padding-right: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg div a:hover {
  color: #a10000;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg div p {
  color: #a10000;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .msg .del {
  float: right;
  background-color: #fff;
  color: #c1383e;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .total {
  margin-top: 10px;
  font-size: 12px;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .total div {
  float: left;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .total div a {
  color: #a10000;
}
#logoArea #shopCar .shopDropList .SCtotalpageBottom .total .toCar {
  padding: 0 5px;
  font-weight: normal;
  float: right;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #a10000;
}
#logoArea .search {
  float: right;
  height: 27px;
  line-height: 27px;
}
#logoArea .search input {
  height: 27px;
  line-height: 27px;
  width: 249px;
  padding: 0px 5px;
  border: 1px solid #c9caca;
  font-size: 12px;
  float: left;
}
#logoArea .search #searchBtn {
  float: left;
  width: 49px;
  height: 28px;
  border: none;
  cursor: pointer;
  background: url(../data/img/spritesbg1.png) no-repeat scroll -100px 0px;
}
#logoArea .hotWord {
  font-size: 12px;
  color: #808080;
  width: 405px;
  float: right;
  margin: 5px 0;
  text-align: center;
}
#logoArea .hotWord a {
  cursor: pointer;
  margin: 0 5px;
}
#logoArea #navList {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
#logoArea #navList h1 {
  cursor: pointer;
  float: left;
  margin-right: 50px;
}
#logoArea #navList h1 a {
  display: block;
  width: 185px;
  height: 46px;
  background: url(../data/img/logoIndex.png) no-repeat scroll;
}
#logoArea #navList .list {
  z-index: 10;
  position: absolute;
  right: 0;
}
#logoArea #navList .list > li {
  background-color: #fff;
  margin-top: 20px;
  width: 96px;
  float: left;
  text-align: center;
}
#logoArea #navList .list > li > a {
  line-height: 14px;
  font-size: 14px;
}
#logoArea #navList .list > li > a:hover {
  color: #a10000;
}
#logoArea #navList .list > li:hover em {
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background-color: #c1383e;
}
#logoArea #navList .list > li span {
  display: block;
  float: right;
  height: 14px;
  width: 1px;
  margin-top: 5px;
  background-color: #808080;
}
#logoArea #navList .list > li .subNav {
  cursor: pointer;
  display: none;
  width: 100%;
}
#logoArea #navList .list > li .subNav > li {
  margin-top: 15px;
}
#logoArea #navList .list > li .subNav > li:last-of-type {
  padding-bottom: 20px;
}
#logoArea #navList .list > li .subNav > li > a {
  line-height: 14px;
  font-size: 14px;
}
#logoArea #navList .list > li .subNav > li:hover > a {
  color: #a10000;
}

.BayWindow {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 200px;
  z-index: 10;
  height: 281px;
  border: 1px solid #b81b22;
  border-bottom: none;
  background-color: #fff;
  margin-bottom: 30px;
}
.BayWindow a {
  display: block;
  width: 73px;
  height: 76px;
  background: url(../data/img/baywindow.png) no-repeat -1px -1px;
}
.BayWindow .newPeople a {
  background-position: -1px -1px;
}
.BayWindow .downApp a {
  background-position: -1px -77px;
}
.BayWindow .online a {
  background-position: -1px -154px;
}
.BayWindow .BlackTop a {
  background-position: -1px -228px;
}