a,
button {
  cursor: pointer;
}

#top {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #919191;
}
#top img {
  cursor: pointer;
}

#content {
  width: 1200px;
  margin: 0 auto;
}
#content #content_left {
  float: left;
  width: 50%;
}
#content #content_left img {
  float: right;
  width: 465px;
  padding-top: 100px;
}
#content #content_right {
  float: left;
  width: 50%;
  padding: 50px 100px 50px 100px;
}
#content #content_right p {
  font-size: 12px;
}
#content #content_right p input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid #cbcbcb;
  margin: 10px 0;
  padding-left: 10px;
}
#content #content_right p label.error {
  color: red;
  display: block;
  float: left;
  text-align: center;
}
#content #content_right p #agree {
  width: 15px;
  height: 15px;
  line-height: 15px;
}
#content #content_right p a {
  color: #b81e20;
  font-weight: bold;
}
#content #content_right h2 {
  width: 100%;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  border-bottom: 2px solid #b81e20;
  color: #a2a2a2;
  font-weight: bolder;
  margin-bottom: 10px;
}
#content #content_right h2 span {
  float: right;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#content #content_right h2 span a {
  color: #b81e20;
}
#content #content_right .code {
  margin-top: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  position: relative;
}
#content #content_right .code label.error {
  color: red;
  display: block;
  float: left;
  text-align: center;
}
#content #content_right .code #code_input {
  height: 45px;
  line-height: 45px;
  border: 1px solid #cbcbcb;
  margin: 10px 0;
  padding-left: 10px;
  margin-top: 0;
  width: 270px;
  float: left;
}
#content #content_right .code #picyzm {
  width: 120px;
  height: 45px;
  text-align: center;
  background-color: #b52024;
  position: absolute;
  left: 280px;
  top: 0;
}
#content #content_right .code #picyzm #verifyCanvas {
  width: 120px;
  height: 45px;
}
#content #content_right #btnLogin {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #9A9A9A;
  color: #FFFFFF;
  border: solid 1px #cbcbcb;
  display: block;
  margin: 10px 0 0 0;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}

#bottom {
  width: 1200px;
  margin: 0 auto;
}
#bottom p {
  text-align: center;
  font-size: 12px;
  color: #919191;
  margin-bottom: 15px;
}
#bottom .subFooter {
  text-align: center;
  height: 50px;
}
#bottom .subFooter a,
#bottom .subFooter span {
  margin: 0 15px;
}
#bottom .subFooter .redLogo:link,
#bottom .subFooter .redLogo:visited,
#bottom .subFooter .redLogo:hover {
  width: 113px;
  height: 42px;
  display: inline-block;
  background: url(../data/img/spritesbg.png) no-repeat 0px -400px;
}
#bottom .subFooter .costumeOrg {
  width: 156px;
  height: 45px;
  display: inline-block;
  background: url(../data/img/spritesbg.png) no-repeat 0px -448px;
}
#bottom .subFooter .wsjyBzzx:link,
#bottom .subFooter .wsjyBzzx:visited,
#bottom .subFooter .wsjyBzzx:hover {
  width: 96px;
  height: 42px;
  display: inline-block;
  background: url(../data/img/spritesbg.png) no-repeat 0px -494px;
}
#bottom .subFooter .vanclMsg:link,
#bottom .subFooter .vanclMsg:visited,
#bottom .subFooter .vanclMsg:hover {
  width: 101px;
  height: 42px;
  display: inline-block;
  background: url(../data/img/spritesbg.png) no-repeat -97px -494px;
}